html{
	font-family: Georgia, serif;
	text-decoration: none;
}


/* Set Your Own Margin & Padding */
h1{
font-family: Georgia, serif;
}

h2{
font-family: Georgia, serif;
}

h3{
font-family: Georgia, serif;

} 

p {
	font-family: Verdana, sans-serif;
	margin: 0;
}


/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3,
.pattern-4 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 200px;
	width: 200px;
}

.color-1{
	background-color: #008080;
}

.color-2{
	background-color: #BFFFFE;
}

.color-3{
	background-color: #802A00;
}

.color-4{
	background-color: #000000;
}

.pattern-1{
background: url("../img/bg.png");

}

.pattern-2{
 background: url("../img/parchment.jpg");
}
.pattern-3{
 background: url("../img/lbl.png");

}

.pattern-4{
background: url("../img/teal.png");
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}